.first-section {
    background-color: black;
}

.first-pill {
    border-radius: 25px;
    font-size: 15px;
}

.disabled {
    color: white !important;
    font-size: 15px;
}
.loguito {
    color: white;
    margin-left: 3%;
}

#navbarSupportedContent .nav-link {
    color: white;
}

.shopping .nav-link {
    border-radius: 20%;
}

.title {
    font-weight: bold;
}

.cover-container {
    border-radius: 0;
    display: flex;
    align-items: center;
}

.cover-img {
    background-position: center center;
    width: 100%;
}

.card-img-overlay {
    margin-top: 105px;
    margin-left: 13.5%;
    margin-right: 850px;
}

.kittens-text {
    color: black;
    margin-top: 40px;
    margin-left: 50%;
    margin-right: 400px;
}



.merch {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px white;
    width: fit-content;
    padding: 1px 20px;

}
